body {
  background: seagreen;
  display: flex;
  flex-wrap: wrap;
}

.frame {
  background: white;
  border: 6px black outset;
  border-radius: 4vh;
  font: bold 2.5rem serif;
  aspect-ratio: 5 / 7;
  height: 45vh;
  margin: 4px;
}

@keyframes flip {
  0% {
    color: transparent;
  }
  50% {
    color: transparent;
    transform: rotate3d(0,1,0,90deg);
  }
}
